@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    @media (max-width:467px){
        font-size: 12px;
    }
}
body{
    background: #75c9b7;
    background: #252525;
   // background: linear-gradient(353deg, rgba(117,201,183,1) 50%, rgba(171,214,153,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #199aae;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;

   // border: 1px solid greenyellow;
}
//Header
.header{
   // border: 1px solid green;
    min-height: 8vh;
    padding-top: 30px;
    margin-bottom: 40px;
    //color: #199aae;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:767px){
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
    }
}
.header__left,
.header__right{
   // border: 1px solid red;
    display: flex;
    align-self: center;
    gap: 20px;
    @media (max-width:467px){
       flex-wrap: wrap;
       justify-content: center;
    }
}
.header__right{
    //border: 1px solid green;
}
.save,
.pause,
.reset,
.time,
.moves{
    display: inline-block;
    background-color: #ffe26a;
    background-color: #199aae;
    color: #fff;
    min-width: 120px;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    @media (max-width:467px){
        font-size: 15px;
        min-width: 100px;
    }
}
.save,
.pause,
.reset{
    transition: .2s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(0.8);
    }
}
.time,
.moves{
    display: inline-flex;
    justify-content: space-between;
    padding: 8px 10px;
    gap: 10px;
 
   > span{
   // border: 1px solid red;
   }
}
.sound{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sound-on,
.sound-off{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(0.8);
    }
}
.sound-on{
    background-image: url('../img/iconmonstr-sound-thin.svg');
}
.sound-off{
    background-image: url('../img/iconmonstr-sound-off-thin.svg');
}
//Main
.main{
    //border: 1px solid yellow;
   //min-height: 80vh;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
//Puzzle
.puzzle{
    width: 475px;
    height: 475px;
    //background-color: #16123f;
    background-color: #abd699;
    //background-color: #199aae;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    &.size-3{
        width: 370px;
        height: 370px;
    } 
    @media (max-width:467px){
        &.size-3{
            width: 264px;
            height: 264px;
            .item-place{
                width: 68px;
                flex-basis: 68px;
                height: 68px;
            } 
        }
    }
    @media (max-width:590px){
        &.size-4{
            width: 364px;
            height: 364px;
            .item-place{
                width: 78px;
                flex-basis: 78px;
                height: 78px;
            } 
        }
        &.size-5{
            width: 420px;
            height: 420px;
            .item-place{
                width: 80px;
                flex-basis: 80px;
                height: 80px;
            } 
        }
    }
    @media (max-width:400px){
        &.size-4{
            width: 300px;
            height: 300px;
            .item-place{
                width: 62px;
                flex-basis: 62px;
                height: 62px;
            } 
        }
    }
    .size-4{

    }
    &.size-5{
        width: 520px;
        height: 520px;
        .item-place{
            width: 90px;
            flex-basis: 90px;
            height: 90px;
        } 
    }
    &.size-6{
        width: 580px;
        height: 580px;
        .item-place{
            width: 80px;
            flex-basis: 80px;
            height: 80px;
        } 
    } 
    &.size-7{
        width: 550px;
        height: 550px;
        .item-place{
            width: 64px;
            flex-basis: 64px;
            height: 64px;
        }
    }
    &.size-8{
        width: 550px;
        height: 550px;
        .item-place{
            width: 56px;
            flex-basis: 56px;
            height: 56px;
        }
    }
    @media (max-width:590px){
       
        &.size-5{
            width: 420px;
            height: 420px;
            .item-place{
                width: 69px;
                flex-basis: 69px;
                height: 69px;
            } 
        }
    }
    @media (max-width:480px){
        &.size-5{
            width: 300px;
            height: 300px;
            .item-place{
                width: 47px;
                flex-basis: 47px;
                height: 47px;
            } 
        }
    }
    @media (max-width:684px){
        &.size-6{
            width: 300px;
            height: 300px;
            .item-place{
                font-size: 16px;
                width: 38px;
                flex-basis: 38px;
                height: 38px;
            } 
        }
    }
    @media (max-width:684px){
        &.size-7{
            width: 310px;
            height: 310px;
            .item-place{
                font-size: 16px;
                width: 32px;
                flex-basis: 32px;
                height: 32px;
            } 
        }
        &.size-8{
            width: 310px;
            height: 310px;
            .item-place{
                font-size: 12px;
                width: 32px;
                flex-basis: 27px;
                height: 27px;
            } 
        }
    }
}
.item-place{
    width: 105px;
    flex-basis: 105px;
    display: inline-block;
    height: 105px;
    background-color: red;
    //background-color: #199aae;
    opacity: 0.5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 0;
    left: 0;
    transition: all .5s ease;
    animation-duration: 0.75s;
    animation-name: anim;
    &[data-state = "empty"]{
      // opacity: 0;
        background-color: #fff;
    }
    &:not([data-state="empty"]){
        cursor: pointer;
    }
    &:not([data-state="empty"]):active{
        transform: scale(0.9);
        
    }
   
}
.puzzle-info{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    >p:first-child{
        padding-bottom: 5px;
    }
    @media (max-width:467px){
        font-size: 16px;
    }
}
.puzzle-sizes{
    >span {
        cursor: pointer;
        text-decoration: underline;
    }
}
//Footer
.footer{
   // border: 1px solid red;
    height: 8vh;
}
@keyframes anim{
    0%, 20%, 40%, 60%, 80%, 100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        //opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        //opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        //\opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.overlay-active{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 80;
}
.succes-message{
    display: none;
    background-color: #199aae;
    background-color: #076978;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    max-width: 400px;
    min-height: 200px;
    padding: 30px 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    >span{
        margin-top: 30px;
        font-weight: 700;
        padding: 8px 15px;
        border-radius: 5px;
        background-color:#02515d;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.8);
        }
    }
    &.active{
        display: flex;
        top: 40%;
        transform: translate(-50%,-50%);
    }
    @media (max-width: 690px){
        width: 90%;
    }
}
.puzzle-solvable{
    margin-top: 10px;
    color: #fff;
    font-weight: 400;
}